@import'./variables';
@import'./typograpghy';

.wrapper{
    background-color: $darkgrey;
    display: grid;
    grid-template-columns:3fr 1fr ;
    grid-template-rows:15rem auto 10rem ;
    grid-template-areas: 
        "he he"
        "ma as"
        "fo fo"
    ;
    header{
        grid-area: he;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        overflow: hidden;
        background-color: $wholelottared ;
    }
    main{
        grid-area: ma;
        background-color: $lightgreyback;
        height: auto;
        
        @include center;
        article{
            max-width: 50rem;
            margin: 1rem;
            background-color: $grey;
            h2{
                color: $blacktext;
                padding: 1rem;
                background-color: $whiteback;
            }
            p{
                padding: 2rem;
            }
        }
    }
    aside{
        grid-area: as;
        //tillfällig
        background-color: hotpink; 
        max-width: 20rem;
        button{
            background: none;
        }

        img{
            background: none;
            height: 5rem;
            width: auto;

        };
        
    }
    footer{
        grid-area: fo;
    }
}

