@import'./layout';
@import'./variables';
@import'./typograpghy.scss';

*,html{
    padding: 0%;
    margin: 0%;
}
h3{
    font-size: $h3s;
}
h2{
    font-size: $h2s;
}
img{
    height: 20rem;
    width: auto;
    // detta är bara så inte bilder tar hella skärmen dirket
}